body, html {
    height: 100%;
    margin: 0;
}

.picture {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    overflow: auto;
    background: lightskyblue; /* Just to visualize the extent */
}    

.timer {
    position: absolute;
    width: 20px;
    right: 120px;
    padding: 5px;
    font-size: xx-large;
    color: aqua;
    background-color: slategrey;
}
.clock {
    position: absolute;
    width: 110px;
    right: 100px;
    top: 60px;
    padding: 5px;
    font-size: xx-large;
    color: aqua;
    background-color: slategrey;
}